.root {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--yr) * 5) calc(var(--yr) * 3);
  background-color: rgb(var(--background-primary-color));

  &.scroll {
    box-shadow: 0 0 7px rgb(0 0 0 / 30%);
  }
}

.link {
  font-size: var(--fs-bt);
  line-height: var(--lh-bt);
  font-weight: var(--fw-semi);

  &:not(:last-child) {
    margin-right: calc(var(--yr) * 3);
  }
}
